streamlit
yt-dlp
ffmpeg-python
pydub

openai-whisper
torch
torchaudio

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-mistralai
langchain-huggingface

chromadb
sentence-transformers
transformers
huggingface-hub

numpy
scikit-learn

reportlab
pypdf

python-dotenv
requests
openai
google-genai
fastapi
faiss-cpu
langchain-google-genai